<template>
<div>
   <div>
  <b-jumbotron>
    <template slot="lead">
      <div v-html="currentQuestion.question"></div>
    </template>

    <hr class="my-4">

    <li :key="answer.id" v-for="answer in answers"
        :class="myclass(answer.id)"><span v-html="answer"></span></li>

    <b-button variant="primary" href="#" @click="increment">Submit</b-button>
    <b-button variant="success" href="#" @click="next">Next</b-button>
  </b-jumbotron>
</div>
</div>
</template>

<script>
import _ from 'lodash'

export default{
    name: "QuestionBox",
    props: {
        currentQuestion: Object,
        next: Function,
        increment: Function
        },
    data(){
        return {
            shuffled_answers: [],
            selectedIndex: null,
            correctIndex: null,
            answered: false,
            answers: []
        }
    },
    methods:{
        shuffleAnswer(){
            this.answers = [...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer];
            this.shuffledAnswers = _.shuffle(answers);
            this.correctIndex = this.shuffled_answers.indexOf(this.currentQuestion.correct_answer);
        },
        myclass(index){
            return "selected"
        }
    },
    watch: {
        currentQuestion: {
            immediat: true,
            handler(){
            this.shuffleAnswer();
            this.selectIndex = null,
            this.answered = false
        }
    }}
}
</script>

<style scoped>
  li {
      list-style: none
  }
</style>


