<template>
  <div id="app1">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <Todos :todos="todos" />
    <form action="">
      <input type="text" v-model="newtodo">
      <input type="button" @click="addtodo" value="新增待辦事項">
    </form>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Todos from './components/Todos.vue'

export default {
  name: 'App',
  components: {
    HelloWorld, Todos
  },
  created(){
    fetch("http://localhost/web-programming-108b/Examples/Ch15_Applications/tododata.php")
    .then((resp)=>{return resp.json()})
    .catch((err)=>{console.log(err)})
    .then((resp) =>{this.todos = resp; console.log(resp)});
  },
  data(){
    return {
      todos: [],
      newtodo: ""
    }
  },
  methods:{
    addtodo: function(){
      const newone= {name:this.newtodo,checked: false};
      this.todos.push(newone);
    }
  }
}
</script>

<style>
#app1 {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
