<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        function init(){
            var app = new Vue({
                el: 'div',
                data: {
                    todos: [],
                    newTitle: ""
                },
                created: function(){
                    fetch("todos.data")
                    .then(resp=>{return resp.json()})
                    .then(resp=>this.todos = resp)
                },
                methods: {
                    toggle: function(item){
                        item.completed = !item.completed
                    },
                    addTodo: function(){
                        this.todos.push({title:this.newTitle, completed: false})
                        this.newTitle=""
                    }
                }
            })
        }
    </script>
</head>
<body onload="init();">
    <h1>Vue Example -- Todo List Manager</h1>
    <div id="app">
        <ol>
            <li v-for="todo in todos">
                <input type="checkbox" @change="toggle(todo)" :checked="todo.completed">
                <del v-if="todo.completed">{{todo.title}}</del>
                <span v-else>{{todo.title}}</span>
            </li>
        </ol>
        <input type="text" v-model="newTitle"><button @click="addTodo">新增待辦事項</button>
    </div>
</body>
</html>