<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue 基本語法簡介</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
    <script type="text/javascript">
    function init(){
      Vue.component('postlist', {
        template:
            "<ul> <li> my post 1 </li> </ul>"
      });

      new Vue({
        el: '#app',
        component: [
          'postlist'
        ],
        data:{
          message: 'Hello Vue!',
          name: '',
          posts: [
            {
              title: 'this is items one',
              completed: true
            },
            {
              title: 'this is title 2',
              completed: false
            }
          ]
        },
        methods: {
          addpost: function(){
            this.posts.push({title: this.name, completed: false});
            this.name = ''
          }
        },
        filters: {
          captalize: function(value){
            return value.toUpperCase();
          }
        },
        computed: {
          addTail: function(){
            return this.name + 'y.';
          }
        }
      });
    }
    </script>
    <style media="screen">
      .linethrough {
        color: red;
      }
    </style>
  </head>
  <body onload="init()">
    <div class="">
      <h1>Introduction to Vue</h1>
      <h2>Vue 基本語法簡介</h2>
      <h3> new Vue({})  el:  data:  v-model v-for v-bind:class class v-if [?:]
           v-on:click @click methods filters computed </h3>
      <h3>Vue.component('compName',{})  component: ['compName'] </h3>
    </div>
    <div class="" id="app">
      {{message}}
      <input type="text" v-model="name" name="" value="" v-on:keyup.enter='addpost'>
      <button type="button" name="button" @click="addpost">add post</button>
      <p>{{name}}</p>
      <li v-for="post in posts" :class="[post.completed?'linethrough':'n']">{{post.title|captalize}}</li>
      <h3>here demo computed</h3>
      {{addTail}}
      <postlist />
    </div>
  </body>
</html>
