<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      function init(){
          var app = new Vue({
          el: '#app',
          data: {
            message: ' 歡迎來到 Vue 世界',
            name: 'Pochi Chen',
            titlemessage: '滑鼠移來時，另外顯示的內容',
            bcolor: 'background: lightgreen',
          }
        });
      }
    </script>
  </head>
  <body onload=init();>
    <div class="" id="app">
      <h1>{{name}}</h1>{{message}}
      <p v-bind:title="titlemessage">請將滑鼠移到這裡，demo v-bind:title </p>
      <p v-bind:style="bcolor">本段內容的色彩依據 vue 物件的資料成員 tcolor</p>
    </div>
  </body>
</html>
