<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    	<!-- <script src="node_modules//vue//dist//vue.js"> -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>
  </head>
  <body>
    <div class="" id="example">
      <p>Original text: {{message}}</p>
      <p>Computed text: {{reversemessage}}</p>
      <p>Time: {{now}}</p>
      <p>Time(function): {{nowtime()}}</p>
    </div>
    <script type="text/javascript">
      var vm = new Vue({
        el: '#example',
        data: {
          message: 'Hello World'
        },
        computed: {
          reversemessage: function(){
            return this.message.split(" ").reverse().join(" ");
          },
          now: function(){
            return Date.now();
          }
        },
        methods: {
          nowtime: function(){
            return Date.now();
          }
        }
      })
    </script>
    <div class="" id="w1">
      <p>{{firstName}} {{lastName}}</p>
      <p>{{fullName}}</p>
      <input v-model="change" type="text" name="" value="">
    </div>
    <script type="text/javascript">
      var vw = new Vue({
        el: '#w1',
        data: {
          firstName: "pochi",
          lastName: 'Chen',
          change: ''
        },
        computed: {
          fullName: {
            get: function(){
              return this.firstName+" "+this.lastName;
            },
            set: function(val){
              var names = val.split(" ");
              this.firstName = names[0];
              this.lastName = names[names.length-1];
            }
          }
        },
        watch: {
          change: function(){
            this.firstName = this.change;
          },
          firstName: function(val){
            this.fullName = val + ' ' +this.lastName;
          },
          lastName: function(val){
            this.fullName = this.firstName+' '+val;
          }
        }
      })
    </script>
  </body>
</html>
