<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
  </head>
  <body>
    <div class="static" v-bind:class="[activeClass, errorClass]" id="c1">
      <p>This div has class static and dynamic class active and error</p>
    </div>
    <!-- <div class="static" v-bind:class="{active: isActive, error: isError}" id="c1">
      <p>This div has class static and dynamic class active and error</p>
    </div>     -->
    <script type="text/javascript">
      var vb = new Vue({
        el: '#c1',
        data: {
          isActive: false,
          isError: true,
          classobj: {active: true, error: false},
          activeClass: 'active',
          errorClass: 'error'
        }
      });
    </script>
    <div class="" id="sty">
      <template v-if="gok" id="">
        <span :style="styobj">Hello World色彩與大小</span>
        <h2 v-if="ok">Yes ok</h2>
        <h2 v-else>No it is else</h2>
      </template>
      
    </div>
    <script type="text/javascript">
      var vs = new Vue({
        el: '#sty',
        data: {
          stycolor: 'red',
          stysize: 24,
          styobj: {
            color: 'green',
            fontSize: '30px'
          },
          ok: true,
          gok: true
        }
      })
    </script>
    <div class="" id="toggle">
      <template v-if="loginType === 'username'">
        <label for="">UserName</label><input placeholder="input username here" type="text" name="" value="" key="user-input">
      </template>
      <template v-else>
        <label for="">Email</label><input placeholder="input e-mail address here" type="text" name="" value="" key="email-input">
      </template>
      <button @click="toggleInput" type="button" name="button">Toggle Button</button>
    </div>
    <script type="text/javascript">
      var vt=new Vue({
        el: '#toggle',
        data:{
          loginType: 'username',
        },
        methods:{
          toggleInput:function(){
            if(this.loginType === 'username')
                this.loginType = 'emailaddress';
            else {
              this.loginType='username';
            }
          }
        }
      })
    </script>
    <div class="" id="vlist">
      <ul>
        <li v-for="(item, index) in items" :key="item.id">
           {{index}} - {{item.message}}
        </li>
        <li v-for="(item, key, index) in obj4">
            {{key}}:{{item}} -- {{index}}
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      var vlist = new Vue({
        el: '#vlist',
        data: {
          items: [
            {message: 'Spring'},
            {message: 'Summer'},
            {message: 'Fall'}
          ],
          obj4: {
            s : 'Spring',
            m : 'Summer',
            f : 'Fall',
            w : 'Winter'
          }
        }
      })
    </script>
    <div class="" id="vfor">
      <li v-for="n in evenNumbers">{{n}}</li>
    </div>
    <script type="text/javascript">
      var vfor = new Vue({
        el: '#vfor',
        data: {
          numbers: [1,2,3,4,5,6,7]
        },
        computed:{
          evenNumbers: function(){
            return this.numbers.filter(function(num){return num%2 === 0})
          }
        }
      })
    </script>
    
  </body>
</html>
