<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>
  </head>
  <body>
    <div class="" id="vevent">
      <button @click="great" type="button" name="button">Great</button>
      <button @click="hi('mary')" type="button" name="button">Say Hi</button>
    </div>
    <script type="text/javascript">
      var vevent = new Vue({
        el: '#vevent',
        data: {
          name: 'Vue.js'
        },
        methods:{
          great: function(event){
            alert(this.name + " Hello OK");
            if(event)
              alert(event.target.tagName);
          },
          hi: function(name){
            alert("Hi, " + name);
          }
        }
      })
    </script>
    <div class="" id="form1">
      <label for="m1">:{{message}}</label>
      <input id="m1" v-model="message" placeholder="input a message here" type="text" name="" value="">
      <textarea id="ta1" v-model="messageArea" placeholder="input here" name="name" rows="8" cols="80"></textarea>
      <input type="checkbox" name="" value="Apple" v-model="mcheck"><label for="apple">Apple</label>
      <input type="checkbox" name="" value="Samsong" v-model="mcheck"><label for="samsong">Samsong</label>
      <input type="checkbox" name="" value="Huawei" v-model="mcheck"><label for="huawei">Huawei</label>
      <p> <span v-for="s in mcheck">{{s}} </span> </p>
      <input type="radio" name="" value="TV" v-model="mradio"><label for="">TV</label>
      <input type="radio" name="" value="Smartphone" v-model="mradio"><label for="">SmartPhone</label>
      <p> <span>{{mradio}}</span> </p>
    </div>
    <script type="text/javascript">
      new Vue({
        el: '#form1',
        data: {
          message: 'label for input text',
          messageArea: 'text area',
          mcheck:[],
          mradio:''
        }
      })
    </script>
    <div class="" id="form2">
      <select class="" name="" v-model="vselect">
        <option value="6.5">6.5吋</option>
        <option value="5.4">5.4吋</option>
        <option value="5.0">5.0吋</option>
      </select>
      <p>下拉 單選 : {{vselect}}</p>
      <select class="" name="" v-model="vmselect" multiple>
        <option value="beef">牛肉</option>
        <option value="main">主菜</option>
        <option value="soup">鮮湯</option>
      </select>
      <p>下拉 多選: {{vmselect}}</p>
    </div>
    <script type="text/javascript">
      new Vue({
        el:"#form2",
        data:{
          vselect:'',
          vmselect: []
        }
      })
    </script>
  </body>
</html>
