body {
    background-color: aquamarine;
}

h1 {
    color: blue;
}

p {
    background-color: chartreuse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

i {
    color: crimson;
}