@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body {
  font-family: 'noto sans TC', sans-serif;
  font-weight: 700;
}
p {
  font-family: 'noto sans TC';
  font-weight: 700;
}

.yen {
  font-family: 'cwtexyen';
  font-weight: 900;
  font-size: 36px;
}
