<template>
<div id="app">
    <HelloWorld v-bind:msg="msg" v-bind:version="ver" />
    <Todos v-bind:todos="todos" v-on:del-todo1="delTodo"/>
    <h2>add Todos here</h2>
    <AddTodo v-on:add-todo="addTodo"/>
</div>
</template>

<script>
import Todos from './components/Todos'
import HelloWorld from './components/HelloWorld'
import AddTodo from './components/AddTodo'
import axios from 'axios'
export default {
  name: 'app',
  components: {
      HelloWorld, Todos, AddTodo
  },
  methods: {
    delTodo(id){
      this.todos = this.todos.filter(todo => todo.id !== id);
    },
    addTodo(newTodo) {
        const { title, completed } = newTodo;

        axios.post('https://jsonplaceholder.typicode.com/todos', {
          title,
          completed
        })
          .then(res => this.todos = [...this.todos, res.data])
          .catch(err => console.log(err));
    }
  },
  data() {
    return {
      todos: [],
      msg: "Vue NUU",
      ver: 2.3,
      title: "Learning Vue by Todolist"
    }
  },
  created() {
      axios.get('https://jsonplaceholder.typicode.com/todos?_limit=5')
        .then(res => this.todos = res.data)
        .catch(err => console.log(err));
    }
}
</script>
<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

</style>
