<head>
  <meta charset="utf-8">
  <title>範例</title>	
  <script language="javascript">
    var miliseconds = 0, seconds = 0;
    function init(){
      document.myForm.myField.value = "0";
    }
    function showStayTime(){
      if (miliseconds >= 9){
        miliseconds = 0;
        seconds += 1;
      }
      else miliseconds += 1;
      document.myForm.myField.value = seconds + "." + miliseconds;
    }
    function start(){
      startx = setInterval(showStayTime, 100);
    }
    function stop(){
      clearInterval(startx);
    }
  </script>
</head>
<body onload="init();">
  <form name="myForm"> 
    網頁計時器<input type="text" name="myField" size="5">秒
  </form>
  <button onclick="stop();">Stop</button>
  <button onclick="start()">Start</button>
</body>