<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <div class="posts">
      <li v-for="post of getAllPosts" :key="post.id">
        <span><strong class="title">{{post.title}}</strong>:{{post.body}}</span>
      </li>
    </div>

    Title: <input type="text" v-model="formData.title">
    Body: <input type="text" v-model="formData.body">
    <input type="button" @click="addapost" value="新增貼文">
    {{getCount}}
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'Home',
  components: {
    HelloWorld
  },
  data(){
    return {
      formData: {
        title: "",
        body: ""
      }
    }
  },
  computed: {
    ...mapGetters(['getCount', 'getAllPosts'])
  },
  methods: {
    ...mapActions(['decrement','increment','addpost']),
    // addapost: ()=>{
    //   const {title, body} = this.formData
    //   const npost = {
    //     title: title,
    //     body: body
    //   }
    //   this.addpost(npost)
    
    addapost(){
      const {title, body} = this.formData;
      const npost = {title:title, body:body};
      this.addpost(npost);
      console.log(title)
    },
    decr: ()=>this.decrement(),
    incr: ()=>this.increment()
  }
}
</script>
<style scoped>
.posts{
  margin: 1em;
  background-color: lightgreen;
  list-style: none;
  text-align: left;
}
.title{
  display: inline-block;
  width: 100px;
}
</style>
