<template>
    <petTable species = "cats" :pets="cats"></petTable>
</template>

<script>
import { mapState } from 'vuex'
import petTable from '@/components/petTable'

export default {
    components: {
        petTable
    },
    computed: {
        ...mapState(['cats'])
    },
    data(){
        return {}
    }
}
</script>
