<template>
    <petTable species = "dogs" :pets="dogs"></petTable>
</template>

<script>
import { mapState } from 'vuex'
import petTable from '@/components/petTable'

export default {
    components: {
        petTable
    },
    computed: {
        ...mapState(['dogs'])
    },
    data(){
        return {}
    }
}
</script>
