<template>
  <div class="home">
      <h1>選一個寵物好朋友</h1>
      {{getAllCats.length}} | {{animalsCount}}
      <button @click="togglePetForm" class="btn btn-primary">Add New Pet</button>
      <b-form @submit.prevent="handleSubmit" v-if="showPetForm">
      <b-form-group id="exampleInputGroup2" label="Pet's Name:" label-for="exampleInput2">
        <b-form-input
          id="exampleInput2"
          type="text"
          v-model="formData.name"
          required
          placeholder="Enter name" />
      </b-form-group>

      <b-form-group id="exampleInputGroup3" label="Species:" label-for="exampleInput3">
        <b-form-select id="exampleInput3" :options="['cats', 'dogs']" required v-model="formData.species" />
      </b-form-group>

      <b-form-group id="exampleInputGroup2" label="Pet's Age:" label-for="exampleInput2">
        <b-form-input
          id="exampleInput2"
          type="number"
          v-model="formData.age"
          required
          placeholder="Enter age" />
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'home',
  data(){
    return {
      showPetForm: false,
      formData: {
        name: '',
        age: 0,
        species:null
      }
    }
  },
  computed: {
    ...mapGetters([
      'animalsCount', 'getAllCats'
    ])
  },
  methods:{
    ...mapActions([
      'addPed'
    ]),
    togglePetForm(){
      this.showPetForm = !this.showPetForm
    },
    handleSubmit(){
      const {species, age, name } = this.formData
      const payload = {
        species,
        pet: {
          name,
          age
        }
      }
      this.addPed(payload)
      this.formData={
        name: '',
        age: 0,
        species: null
      }
    }
  },
  components: {

  }
}
</script>
