<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>version {{version}}</p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {    // 傳進來的參數，用 v-bind:msg="msg" 來綁定
    msg: String,
    version: Number
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  background-color: lightgrey;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
