<template>
  <div class="">
    <div class="">
      <h1>Todo List</h1>
    </div>
    <div v-bind:key="todo.id" v-for="todo in todos">
      <TodoItem v-bind:todo="todo" v-on:del-todo="$emit('del-todo1', todo.id)"></TodoItem>
    </div>
  </div>
</template>

<script>
import TodoItem from './TodoItem.vue'
export default {
  name: 'Todos',
  props: ["todos"],
  components: {
    TodoItem
  }
}
</script>

<style scoped>

</style>
