<template id="">
  <div class="todo-item" v-bind:class="{'is-completed':todo.completed}">

    <p><input type="checkbox" v-on:change="markComplete" name="" value="">
      {{todo.title}}<button v-on:click="$emit('del-todo', todo.id)" class="del">x</button></p>
  </div>
</template>

<script>
  export default{
    name: "TodoItem",
    props: ["todo"],
    methods: {
      markComplete(event){
        console.log(event.target.checked);
        if(event.target.checked == true)
          this.todo.completed = true;
        else
          this.todo.completed = false;
      }
    }
  }
</script>

<style scoped>
  .todo-item{
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
  }
  .is-completed {
    text-decoration: line-through;
    color: green;
  }
  .del {
    background: #ff0000;
    font-size: 18px;
  }
</style>
