<template>
    <div class="todos">
        <h2>待辦事項</h2>
        <li :key="todo.id" v-for="todo in todos">
            <span><input type="checkbox">{{todo.name}}</span>
        </li>
    </div>
</template>
<script>
export default {
    name: "Todos",
    components: {},
    props: {           // 也可以寫成 props: ["todos"] 不特別標註型別
        todos: Array
    }
}
</script>
<style scoped>
h2 {
    color:blue;
    font-family: 微軟正黑體;
    font-weight:bold;
}
.todos{
    text-align: left;
    background-color: azure;
    padding: 5px;
    margin-bottom: 2em;
} 
li {
    list-style: none;
}
</style>